.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f5f5f5; 
}

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black; 
  padding: 3%;
  margin: 3%;
  width: 45%;
  height: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 8px; 
}

.forgot-password-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; 
}

.forgot-password-inputs {
  display: flex;
  flex-direction: column;
}

.forgot-password-section-A {
  margin-bottom: 1rem; 
}

.forgot-password-section-B {
  display: flex;
  flex-direction: column;
}

.forgot-password-error {
  color: red; 
  margin-top: 0.5rem; 
}

.forgot-password-section-C {
  margin-top: 1rem; 
}

.forgot-password-button {
  width: 30%;
  color: black;
  background-color: aqua;
  border: 2px solid black; 
  border-radius: 15px;
  padding: 0.5rem; 
  cursor: pointer; 
}

.forgot-password-button:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}
