
@media  only screen and (max-width: 600px) {
  
}



body{
  
}

.row3 {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    border-color: black;
    padding: 3%;
    margin: 3%;
    width: 87%;
    height: 35%;
    margin-top: 5%;
    
    margin-bottom: 8%;
    gap: -5rem;
    border: black;

   
   
    background-color: #ffffff;
    border-radius: 15px;
  }

  .topNavBar{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }


  .NavBar{
    color: black;
  }
  .logo1{
    height: 30vh;
    width: 20%;
    margin-top:-7% ;

  }

  .img-container{
    display: flex;
         
    justify-content: center;
    align-items: center;
    
    width: 100%;
    gap:2rem ;
    
    
    
    
  }

  .Img{
    height: 30.2rem;
    width: 100%;
    border-radius: 1rem;
    
  }

  .Img0{
    height: 30.2rem;
    width: 100%;
    border-radius: 1rem;
  }

  .Img1{
    height: 15rem;
    width: 100%;
    border-radius: 1rem;
  }

  .columns3{
    float: left;
    height: 50%;
    width: 100%;
    
    
    
    
  }

  .columns2 {
    float: left;
    height: 50%;
    width: 100%;
    gap: 1rem;
   
   
  }
   
  .img-container:after {
    content: "";
    display: table;
    clear: both;
  }

  .Home-btn{
    color: white;
    background-color:#01BEA0 ;
    width: 10%;
    height: 3rem;
    font-size: large;
    border-radius: 10.33px;
    margin-top: 1%;
    border: none;
    box-shadow: 0 13px 8px 0 rgba(0,0.5,0,0.2);
  }

  .Facilities{
   padding-left:9% ;
   padding-right: 9%;
   
  }

  .heading-for-facilities{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .heading-color{
    color: #01BEA0;
    padding: 0;
  }

  .facilities-space{
    justify-content: center;
  }

  .column1{
    display: flex;
  }

  .pool-Img{
    width: 95%;
    
  }

  .experience{
    justify-content: center;
    float: left;
    font-size: x-large;
    width: 150%;
  }

  .column0{
    display: flex;
    flex-direction: row-reverse;
  }

  .lobby-Img{
    height: 75%;
    width: 75%;
  }

  .experience0{
    justify-content: center;
    float: left;
    font-size: x-large;
    width: 50%;
  }

  .row0 {
    display: flex;
    flex-direction: column;
    border-color: black;
    padding: 3%;
    margin: 3%;
    width: 15%;
    height: 15%;
    
    
    
    gap: -6rem;
    border: none;

   
    box-shadow: 0 3px  rgba(0,0,0,0.2);
    background-color: #ffffff;
    border-radius: 3%;
  }
  
  .row7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: black;
    padding: 3%;
    
    width: 95%;
    height: 25%;
    margin-top: -12%;
    
    
    margin-bottom: 8%;
    gap: -1rem;
    border: black;

   
    box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2);
    background-color: #dafbfd;
    border-radius: 1%;
  }

  .check-btn{
    color: white;
    background-color:#01BEA0 ;
    width: 100%;
    height: 3rem;
    font-size: large;
    border-radius: 10.33px;
    
    border: none;
    box-shadow: 0 13px 8px 0 rgba(0,0.5,0,0.2);
  }

  .Room-Imgdiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    
  }

   .roomImg{
    
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: end;
    border-radius: 2%;
    
    
    

   }

   .row8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    border-color: black;
    
    width: 100%;
    height: 35%;
    margin-top: 5%;
    
    margin-bottom: 8%;
    gap: -5rem;
    border: black;

   
    
    background-color: #ffffff;
    border-radius: 1%;
  } 

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .first-row{
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; 
    
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items:center;
    
  }
.list{
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: large;
}  

  .facilities-container:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .Footer{
     width: 100%;
     height: 50%;
     background-color: black;
     color: #ffffff;
     display: flex;
     justify-content: space-around;
     align-items: center;
     text-align: start;
     border-radius: 1em;
  }
 
  .footer-info{
   
    width: 35%;
    
  }

  .footer-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: baseline;
    
    height: 25vh;
    gap: 3rem;
    width: 25%;
    
    
  }

  a{
    text-decoration: none;
    color: #ffffff;
  }

  a:hover{
    color: #01BEA0;
  }

  .footer-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }

 .Subscribe-form {
    
    font-family: Arial;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content:start;
    
  }
  
  .container {
    padding: 20px;
    
    display:flex;
    flex-direction:column;
  }
  
  input[type=text]  {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
  
    
    box-sizing: border-box;
  }

  
  input[type=submit]{ 
    width: 100%;
    padding: 12px;
    margin: 8px 0;
   
    border-radius:10px;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
    cursor: pointer;
  }
  
  input[type=submit] {
    background-color: #01BEA0;
    width: 100%;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
    cursor: pointer;
  }

