body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-color: black;
  width: 50%;
  height: auto;
  gap: -5rem;
  border: black;
  background-color: #ffffff;
}


.row3{
  
}

.topNavBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
  
  justify-content: center;
  align-items: center;

}

.nav-items{
  display: flex;
  width: 80%;
  
}
.NAVBar{
  width: 15%;
}


.Profile {
  background-color: #f8fbfc;
  border-radius: 15px;
  width: 200px;
}

.profile-dropdown {
  position: absolute;
  background-color: rgba(198, 198, 198, 0.359);
  border-radius: 15px;
  color: #dafbfd;
}

.Pro-btn {
  background-color: #4bf1e9c1;
  width: 90%;
  border-radius: 9px;
}

.iconss-btn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconss {
  width: 10%;
}

.NavBar {
  color: black;
  cursor: pointer;
}

.logo1 {
  height: 50vh;
  width: 50%;
  margin-top: 8%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-left: 10px;
}

.Img {
  height: 30.2rem;
  width: 100%;
  border-radius: 1rem;
}

.Img0 {
  height: 30.2rem;
  width: 100%;
  border-radius: 1rem;
}

.Img1 {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
}

.columns3,
.columns2 {
  float: left;
  height: 50%;
  width: 100%;
  gap: 1rem;
}

.img-container:after {
  content: "";
  display: table;
  clear: both;
}

.Home-btn {
  color: white;
  background-color: #01BEA0;
  width: 10%;
  height: 3rem;
  font-size: large;
  border-radius: 10.33px;
  margin-top: 1%;
  border: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0.5, 0, 0.2);
}

.intro {
  display: flex;
  flex-direction: column;
  height: 40vh;
  font-size: large;
}

.HEADING {
  display: flex;
  width: 50%;
  justify-content: center;
}

.HEAD_FONT {
  font-size: x-large;
}

.Facilities {
  padding-left: 9%;
  padding-right: 9%;
}

.heading-for-facilities {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.heading-color {
  color: #01BEA0;
  padding: 0;
}

.facilities-space {
  justify-content: center;
}

.column1 {
  display: flex;
}

.pool-Img {
  width: 95%;
}

.experience {
  justify-content: center;
  float: left;
  font-size: x-larger;
  width: 150%;
}

.column0 {
  display: flex;
  flex-direction: row-reverse;
}

.lobby-Img {
  height: 100%;
  width: 75%;
  margin-top: -200px;
}

.experience0 {
  justify-content: center;
  float: left;
  font-size: x-large;
  width: 50%;
}

.row0 {
  display: flex;
  flex-direction: column;
  border-color: black;
  padding: 3%;
  margin: 2%;
  width: 25%;
  height: 15%;
  gap: -6rem;
  border: none;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.DOA {
  background-color: #ebf3f3;
  font-size: x-large;
  border: 2px solid;
  border-color: rgb(0, 0, 0);
}

.row7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: black;
  padding: 3%;
  width: 95%;
  height: 25%;
  margin-top: -12%;
  margin-bottom: 8%;
  gap: -1rem;
  border: black;
  border: 2px solid;
  background-color: #dafbfd;
  border-radius: 10px;
}

.check-btn {
  color: white;
  background-color: #01BEA0;
  width: 100%;
  height: 3rem;
  font-size: large;
  border-radius: 10.33px;
  border: none;
  box-shadow: 0 13px 8px 0 rgba(0, 0.5, 0, 0.2);
}

.Room-Imgdiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.room-BTNS {
  background-color: #01BEA0;
  color: white;
  border: 2px solid black;
  width: 80%;
  border-radius: 15px;
  padding: 9px;
  height: 5vh;
}

.room-BTNS:hover {
  background-color: #dafbfd;
  color: black;
}

.roomImg {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: end;
  border-radius: 2%;
}

.row8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-color: black;
  width: 100%;
  height: 35%;
  margin-top: 5%;
  margin-bottom: 8%;
  gap: -5rem;
  border: black;
  background-color: #ffffff;
  border-radius: 1%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.first-row {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: large;
}

.Facilities-container-0 {
  width: 100%;
  margin-top: -190px;
}

.facilities-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.facilities-container:after {
  content: "";
  display: table;
  clear: both;
}

.Footer {
  width: 110%;
  height: auto;
  margin-left: -83px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  align-items: center;
  text-align: start;
  border-radius: 1em;
}

.INFO_FOOTER {
  color: #ffffff;
}

.footer-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #000000;
}

.footer-left {
  display: flex;
  gap: 2rem;
  flex-direction: row-reverse;
  margin-left: 5px;
}

.footer-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  color: #000000;
  gap: 1rem;
  width: 25%;
  margin-top: 10px;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #01BEA0;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-top: -150px;
}

.Subscribe-form {
  font-family: Arial;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.container-apl {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
}

input[type="checkbox"] {
  margin-top: 16px;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #01BEA0;
  width: 100%;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #01BEA0;
}


@media only screen and (max-width: 425px) {

  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    border-color: black;
    width: 50%;
    height: auto;
    gap: -5rem;
    border: black;
    background-color: #ffffff;
  }
  .topNavBar {
    flex-direction: column; 
   
  }

  .img-container{
    width: 50px;
  }
  .Img0, .Img {
    max-height: 10rem; 
  }

  .Img1 {
    max-height: 5rem;
  }


  .logo1 {
    width: 80%; 
  }

  .img-container {
    flex-direction: row; 
    width: 50%;
    
  }

  .Home-btn {
    width: 100%; 
  }

  .first-row {
    width: 100%; 
    padding: 5px;
  }.Footer {
    width: 110%;
    height: auto;
    margin-left: -83px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    text-align: start;
    border-radius: 1em;
  }

  .footer-nav {
    flex-direction: column; 
    width: 100%; 
  }

  .footer-subscribe {
    width: 100%; 
  }

  .row8 {
    flex-direction: column; 
  }
}


/* @media only screen and (max-width: 768px)  {
  .topNavBar {
    flex-direction: row; 
    justify-content: space-around; 
  }

  .logo1 {
    width: 70%;
  }

  .img-container {
    flex-direction: row;
    width: 100%;
  }
  .Img0, .Img {
    max-height: 25rem; 
  }

  .Img1 {
    max-height: 12rem; 
  }

  .Home-btn {
    width: 50%;
  }

  .first-row {
    width: 45%;
  }

  .footer-nav {
    width: 80%;
  }

  .footer-subscribe {
    width: 90%; 
  }
} */


@media only screen and (max-width: 1025px) {

body{
  flex-wrap: wrap;
}

  .topNavBar {
    flex-direction: row; 
    width: 1100px;
    margin-left: -75px;
    font-size: 1.5rem;
  }

  .NavBar{
    font-size: 1rem;
  }

  .nav-items{
    width: 900px;
    margin-left: -15px;
  }

  .logo1 {
    width: 60%; 
  }
  .img-container {
    width: 900px;
    margin-left: 45px; 
  }

  .HEAD_FONT{
    font-size: 1.5rem;
    width: 900px;
  }

  .heading-for-facilities{
    font-size: 1.5rem;
    margin-top: 195px;
  }

  .Facilities-Activities{
    width: 900px;
  }

  .column1{
    width: 900px;
    display: flex;
    flex-direction: column;
  }
  .column0{
    width: 900px;
    display: flex;
    flex-direction: column;
  }

  .pool-Img{
    width: 400px;

  }

  .lobby-Img{
    width: 400px;
    margin-top: 45px;
  }

  .row8{
    width: 900px;
  }

  .Home-btn {
    width: 30%;
  }
  .first-row {
    width: 30%;
  }

  .Footer{
    width: 1024px;
    margin-left: -6%;
  }

  .footer-info{
    width: 500px;
  }
  .footer-left{
    width: 50%;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
  }

  .footer-nav {
    width: 200px; 
    margin-left: -65px;
  }

  .footer-subscribe {
    width: 200px; 
    display: flex;
    flex-direction: column;
  }
  .Img0, .Img {
    max-height: 30.2rem; 
  }
  .container-apl{
    display: flex;
    flex-direction: column;
    margin-left: -45px;
  }

  .Subscribe-form{
    display: flex;
    flex-direction: column;
  }

  .Img1 {
    max-height: 15rem;
  }
}
.menu-btn {
  display: none; 
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .menu-btn {
      display: block;
  }
  .nav-items {
      display: none;
      flex-direction: column; 
      position: absolute;
      top: 5rem;
      right: 1rem;
      background-color: white;
      padding: 1rem;
      border: 1px solid goldenrod;
      border-radius: 5px;
      z-index: 1000;
  }
  .nav-items.active {
      display: flex; 
  }

  .img-container{
    width: 500px;
    margin-left: 45px;
  
  }

  .Img0{
    max-height: 10rem;
  }

  .Img1{
    max-height: 5rem;
  }

  .HEAD_FONT{
    font-size: 1rem;
    width: 600px;
    margin-left:45px ;
  }

  .Home-btn{
    width: 250px;
  }

  .Facilities-Activities{
    width: 250px;
  }
  .heading-for-facilities{
    font-size: 1.5rem;
    margin-left: 145px;
    width: 250px;
    margin-top: 55px;
  }
  .column1{
    
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .pool-Img{
    max-height: 10rem;
    width: 25rem;
  }
  .column0{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .lobby-Img{
    max-height: 10rem;
    margin-top: 15px;
    width: 25rem;
  }

  .row8{
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .Footer{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: -15px;
  }
}
