/* src/UserProfile.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.user-info {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f0f0f0;
}

.room-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    border: 1px solid #929292;
    border-radius: 5px;
    padding: 10px;
    width: calc(83% - 10px);
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
    border: 2px solid #24e0b1;
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
}

.card p {
    margin: 5px 0;
}
