.card-0{
    display: flex;
 
    flex-direction: column;
    border-color: black;
    padding: 3%;
    margin: 3%;
    width: 80%;
    height: auto;
    margin-top: 5%;
   
    margin-bottom: 8%;
    gap: -5rem;
    border: black;

   
    box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2);
    background-color: #ffffff;
    border-radius: 15px;
}

.card-1{
    box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
    background-color: #c9c9c9;
    border-radius: 15px;
    
}

.card-btn{
 width: 100%;
 
 display: flex;
 justify-content: end;
}

.card-1-0{
    border-radius: 100%;
    display: flex;
    align-items: end;
    width: 45px;
    height: 45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}

.Info-deck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Info-deck-1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
    
}

.booking-div{
width: 100%;
display: flex;

justify-content: end;
height: 5vh;
}

.booking-btn{
width: 25%;
height: 5vh;
display: flex;
justify-content: center;
align-items: center;
background-color: #3BCBBF;
border-radius: 15px;
border: none;
box-shadow: 0 6px 8px 6px rgba(0,5,0,0.2);
color: #ffffff;
font-size: large;
cursor: pointer;


}

.info-deck-right{
    display: flex;
    flex-direction: column;
    
    height: 45vh;
}


.Price{
    display: flex;
    width: 100%;
    
    justify-content: baseline;
  
}

.icons-div{
   
   width: 90%;
   display: flex;
   justify-content: center;
}

.icons-section{
 
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  gap: 3rem;
  
  justify-content: end;
  align-items: center;


}

.Icons{
     width: 13%;
     height: 15%;
    

}